<section class="cv">
	<h1>Timen Engwerda</h1>
	<article class="subject">
		<h2>Personalia</h2>
		<ul class="personalia">
			<li>
				<span>Naam</span>
				<span>Timen Engwerda</span>
			</li>
			<li>
				<span>Adres</span>
				<span>Holpaed 14</span>
			</li>
			<li>
				<span>Woonplaats</span>
				<span>Dronrijp</span>
			</li>
			<li>
				<span>E-mailadres</span>
				<span>tengwerda [at] gmail</span>
			</li>
			<li>
				<span>Geboortedatum</span>
				<span>12-09-1986</span>
			</li>
		</ul>
	</article>

	<article class="subject">
		<h2>Werkervaring</h2>
		<ul class="ervaring">
			<li>
				<span>Dec 2014 - Heden</span>
				<span>Cinnamon Interactive, Leeuwarden</span>
				<span>Frontend developer</span>
			</li>
			<li>
				<span>Jul 2012 - nov 2014</span>
				<span>Fertile Media, Leeuwarden</span>
				<span>Front- en backend developer<br>Referentie: 06 462 627 81</span>
			</li>
			<li>
				<span>2005 - 2012</span>
				<span>Freelance webdevelopment</span>
				<span>Front- en backend developer</span>
			</li>
			<li>
				<span>Okt 2010 - mrt 2011</span>
				<span>LIFT Interactief, Leeuwarden</span>
				<span>Front- en backend developer</span>
			</li>
			<li>
				<span>Apr 2010 - Okt 2010</span>
				<span>Stratim Interactive, Leeuwarden</span>
				<span>Front- en backend developer</span>
			</li>
		</ul>
	</article>
	<article class="subject">
		<h2>Opleidingen</h2>
		<ul class="opleidingen">
			<li>
				<span>2011 - 2014</span>
				<span>HBO Communicatie & Multimedia design</span>
			</li>
			<li>
				<span>2007 - 2010</span>
				<span>MBO Webdevelopment (niv. 4)</span>
			</li>
			<li>
				<span>2005 - 2007</span>
				<span>MBO Desktop publishing (niv. 2)</span>
			</li>
			<li>
				<span>1998 - 2003</span>
				<span>Mavo het Baken Warnsborn</span>
			</li>
		</ul>
	</article>

	<article class="subject">
		<h2>Stages</h2>
		<ul class="stages">
			<li>
				<span>2013 - 20 wkn</span>
				<span>Fertile Media, Leeuwarden</span>
				<span>Webdeveloper</span>
			</li>
			<li>
				<span>2009 - 20 wkn</span>
				<span>Stratim interactive, Leeuwarden</span>
				<span>Webdeveloper</span>
			</li>
			<li>
				<span>2008 - 20 wkn</span>
				<span>Imano Creatives, Leeuwarden</span>
				<span>Webdeveloper</span>
			</li>
			<li>
				<span>2007 - 20 wkn</span>
				<span>KSB Repro, Leeuwarden</span>
				<span>Repro</span>
			</li>
		</ul>
	</article>

	<article class="subject">
		<h2>Talen</h2>
		<ul class="talen">
			<li>
				<span>Nederlands</span>
				<span>Moedertaal</span>
			</li>
			<li>
				<span>Fries</span>
				<span>Volledige beheersing in spreken en verstaan</span>
			</li>
			<li>
				<span>Engels</span>
				<span>Goede beheersing in spreken, schrijven en verstaan</span>
			</li>
		</ul>
	</article>
</section>