<section class="home" ng-controller="HomeController">
	<h1>Timen Engwerda</h1>

	<article>
		<small>Doe ik dit nou in de derde persoon of zal ik gewoon beginnen met "Ik?"...</small>
		<p>
			Ik ben {{age}} jaar oud en woon in het pitoreske Dronrijp samen met mijn vriendin Ali en zoontje Jilles.
		</p>
		<p>
			In februari 2014 ben ik afgestudeerd aan de Noordelijke Hogeschool Leeuwarden waar ik de opleiding Communication & Multimedia Design.
		</p>
		<p>
			In mijn vrije tijd mag ik graag een videogame spelen, vissen en racefietsen. Als een ware fanaticus ben ik
			toch ook in mijn vrije tijd vaak bezig met het scripten van kleine projectjes in, meestal, Javascript. <strong>Sterker nog:</strong> heb je gezien dat mijn leeftijd zelfs via javascript getoond wordt hierboven?
		</p>

		<p>
			Als een ware media liefhebber kom ik natuurlijk niet zonder <a href="http://www.twitter.com/timenengwerda">Twitter</a>
			 en <a href="https://www.linkedin.com/profile/view?id=337094058">LinkedIn</a>. Maar ook zeker niet zonder coole grafiekjes met wat ik kan:
		</p>

		<ul class="skills">
			<li class="title">
				Scripting
			</li>
			<li class="skill">
				<span>(X)HTML(5)</span>
				<progress class="html_progress scripting" value="90" max="100"></progress>
			</li>
			<li class="skill">
				<span>CSS(Scss/Sass)</span>
				<progress class="css_progress scripting" value="85" max="100"></progress>
			</li>
			<li class="skill">
				<span>Javascript(jQuery, Coffeescript, AngularJS)</span>
				<progress class="javascript_progress scripting" value="80" max="100"></progress>
			</li>
			<li class="skill">
				<span>PHP (OOP)</span>
				<progress class="php_progress scripting" value="75" max="100"></progress>
			</li>

			<li class="skill">
				<span>MySQL</span>
				<progress class="mysql_progress scripting" value="75" max="100"></progress>
			</li>
			
			<li class="skill">
				<span>Ruby On Rails</span>
				<progress class="rails_progress scripting" value="45" max="100"></progress>
			</li>
			<li class="title">
				Software
			</li>
			<li class="skill">
				<span>Adobe Illustrator</span>
				<progress class="illustrator_progress software" value="75" max="100"></progress>
			</li>
			<li class="skill">
				<span>SQL Workbench(Database diagrams)</span>
				<progress class="workbench_progress software" value="70" max="100"></progress>
			</li>
			<li class="skill">
				<span>Adobe Photoshop</span>
				<progress class="photoshop_progress software" value="65" max="100"></progress>
			</li>
			<li class="skill">
				<span>Balsamiq (Wireframes, mockups)</span>
				<progress class="balsamiq_progress software" value="60" max="100"></progress>
			</li>
			<li class="skill">
				<span>Axure (Wireframes, Mockups)</span>
				<progress class="axure_progress software" value="60" max="100"></progress>
			</li>
			<li class="title">
				Skills
			</li>
			<li class="skill">
				<span>Functioneel ontwerp</span>
				<progress class="functional_progress skillsitem" value="85" max="100"></progress>
			</li>
			<li class="skill">
				<span>Technisch ontwerp</span>
				<progress class="technical_progress skillsitem" value="80" max="100"></progress>
			</li>
			<li class="skill">
				<span>Prototyping</span>
				<progress class="prototyping_progress skillsitem" value="70" max="100"></progress>
			</li>
			<li class="skill">
				<span>Interaction Design</span>
				<progress class="interaction_progress skillsitem" value="70" max="100"></progress>
			</li>
			
		</ul>
	</article>
	<img src="images/knappe-vis.jpg" alt="Timen" title="Das potdikkeme een mooie jongen! eh, vis!" class="timen">

</section>
